<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="E:\PerkingAutomation\src\test\java\testcases">
        <classes>

            <class name="testcases.LoginPageTest">
                <methods>
                    <include name="testLoginWithoutInvalidCredentials"/>
                    <include name="loginWithValidCredential"/>
                </methods>
            </class>
            <class name="testcases.UserManagementTest">
                <methods>
                    <include name="newUserEntry"/>
                    <include name="newUserEntryExistingUsername"/>
                </methods>
            </class>
            <class name="testcases.CardManagementTest">
                <methods>
                    <!---->
                   <include name="newCardEntry1"/>
                    <include name="newCardEntry2"/>
                   <include name="duplicateCardEntry"/>
                </methods>
            </class>
            <class name="testcases.CardIssueTest">
                <methods>
                    <include name="cardIssueWithModePostPaidHourly_Daily"/>
                </methods>
            </class>
            <class name="testcases.VehicleManualEntryTest">
                <methods>
                    <include name="VehicleManualEntry1"/>
                    <include name="VehicleManualEntry2"/>
                </methods>
            </class>
            <!-- <class name="testcases.ExitScreenExemptionTest">
                <methods>
                    <include name="exitScreenExemption"/>
                </methods>
            </class>-->
            <class name="testcases.ExitScreenTest">
                <methods>
                    <include name="cardExitWithCard"/>
                </methods>
            </class>


        </classes>
    </test>
</suite>